<h1 class="members_title">メンバー紹介</h1>
<div class="members_main">
<div class="profile">
	<div class="profile_content">
		<img class="profile_pic" src="assets/anii_prof.png">
	</div>
	<div class="profile_content">
		<p class="profile_name">Anii (雪村・魁(さき)=スカイウォーカー)</p><br>
		<div class="members_sns">
			<%= mail_to 'anii@ushinohi.com', image_tag('e_mail.png', width: '30', height: '30') %>
			<%= link_to image_tag('twitter_prof.png', width: '30', height: '30'), 'https://twitter.com/YSSkywalker', target: "_blank" %>
			<%= link_to image_tag('facebook.png', width: '30', height: '30'), 'https://www.facebook.com/aniichannel/', target: "_blank" %>
			<%= link_to image_tag('instagram.png', width: '30', height: '30'), 'https://www.instagram.com/ysskywalker/', target: "_blank" %>
		</div><br>
		<p>鹿児島市出身。虎党。</p>
	</div>
</div>

<div class="profile">
	<div class="profile_content">
		<img class="profile_pic" src="assets/taro_prof.png">
	</div>
	<div class="profile_content">
		<p class="profile_name">Taro (タロウ)</p><br>
		<div class="members_sns">
			<%= mail_to 'tarou@ushinohi.com', image_tag('e_mail.png', width: '30', height: '30') %>
			<%= link_to image_tag('twitter_prof.png', width: '30', height: '30'), 'https://twitter.com/TaRo_SiBe', target: "_blank" %>
		</div><br>
		<p>鹿児島市出身。</p>
	</div>
</div>

<div class="profile">
	<div class="profile_content">
		<img class="profile_pic" src="assets/mark_prof.png">
	</div>
	<div class="profile_content">
		<p class="profile_name">Mark</p><br>
		<div class="members_sns">
			<%= mail_to 'mark@ushinohi.com', image_tag('e_mail.png', width: '30', height: '30') %>
			<%= link_to image_tag('twitter_prof.png', width: '30', height: '30'), 'https://twitter.com/lilac_hagikazu', target: "_blank" %>
		</div><br>
		<p>横浜市出身。鯉党。</p>
	</div>
</div>
</div>